body {
  margin: 0px;
  padding: 0px;
  background-image: url(blue.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

header{
  width: 1370px;
  height: 70px;
  background-color: #282828;
}

h1{
  position: absolute;
  padding: 3px;
  float: left;
  margin-left: 2%;
  margin-top: 10px;
  font-family: 'Alfa Slab One', cursive;
  color: #39ca74;
}

span{
  color: #ffffff;
}

.Register{
top:50px;
left: 450px;
position: relative;
background: rgba(0, 0, 0, 0,5);
width: 100%;
padding: 60px;
max-width: 300px;
background-color: #2d7d6387;
color: white;
box-shadow: 0px 2px 5px black;
}

.Register h2{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  color: #39ca74;
  padding-top: 2px;
  letter-spacing: 2px;
}

.font{
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  font-weight: bold;
  padding-top: 20px;
}

.input{
  width: : 100px;
  padding: 10px 10px;
  border: 1px solid;
  border-radius: 4px;
  background: none;
  color: white;
  font-size: 15px;
}

.btn-login {
  width: 100%;
  background-color:#39ca74; ;
  padding: 5px;
  font-size: 20px;
  font-family: 'Alfa Slab One',cursive;
  letter-spacing: 2px;
  color:white;
  cursor: pointer;
  margin-top: 5px;
  transition: 0,3s;
  border-radius: 4px;
}

.btn-login:hover{
  background-color: #2A9655;
  margin-top: 10px;
}
